:local(.root) {
  width: '60%';
}
:local(.grow ){
  flex-grow: 1;
}
:local(.menuButton) {
  margin-left: -12;
  margin-left: 20;
}
:local(.title) {
  display: 'none';
}
:local(.inputRoot) {
  color: 'inherit';
  width: '100%';
}
:local(.sectionDesktop) {
  display: 'flex';
};

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
